@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700,900&subset=cyrillic');
@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNova-Extrabld.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNova-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNovaT-Thin.ttf);
    font-weight: 100;
}